# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# local env files

.env
t0016Next/myapp/.env.production
t0016Next/myapp/.env.development
t0016Next/.env

# vercel
.vercel

# typescript
next-env.d.ts

#db
my.cfn

#https key
/key

rebase-merge/
